.team{
    section:first-of-type{
        .container{
            text-align: center;
            img{
                width:30%;
                min-width: 300px;
                margin-bottom: 30px;
            }h2{
                margin-top: 10px;
                font-size: 3em;
                font-weight: lighter;
            }
        }
    }
}
