body{
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
    p, a{
        font-size: 24px;
        color: #000000;
        line-height: 1.7;
    }
    a{
        color: #1287a8;
        text-decoration: none;
    }
}