body{
    font-family: Roboto;
    h1{
        font-size: 48px;
        color: white;
        font-weight: Bold;
    }
    p, a{
        font-size: 24px;
        color: #000000;
    }
    a{
        color: #1287a8;
    }
}