nav{
    li{
        margin-top: 25px;
    }
    .subNav{
        font-size: 0.5em;
    }
    a{
        font-size: 1em;
        color: #ffffff;
        font-weight: medium;
    }
    //active state ページによって変える
}