nav{
    li{
        margin-top: 25px;
        position: relative;
        padding: 4px 4px;
    }li:hover{
        background :red;
    }
    .subNav{
        top: 0;
        left: 100%;
        width: 300px;
        position: absolute;
        display: none;
        background:$color1;
    }.subNav div:hover{
        background:red;
    }.subNav div{
        padding: 4px 4px;
    }
    a{
        font-size: 1em;
        color: #ffffff;
        font-weight: medium;
    }
    //active state ページによって変える
}